/** Styling **/
body {
	background-color: #282828;
	color: white;
	font-size: 50px;
}

.instruction {
	width: 300px;
	margin: 100px auto;
	padding: 1em;
	text-align: center;
}

/** Working parts **/
.instruction {
	border: 1px dashed white;
	border-radius: .2em;
	background: rgba(255, 255, 255, .3);

	/* "border" outside stitching */
	box-shadow: 0 0 0 .4em rgba(255, 255, 255, .3);
}