/** Styling **/
* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	background: linear-gradient(180deg, #000000, #000000 67%, #5A77A8);
	color: white;
}

/** Working parts **/
.frontpage {
	position: absolute;
	margin-left: 2em;
	right: 2em;
	width: calc(100vw - 4em);
	height: calc(100vw - 4em);
	overflow: hidden;
}

.frontpage svg{
	transform: rotate(-90deg);
	background: transparent;
	border-radius: 50%;
	margin-left: -20%;
	margin-top: -30%;
	width: 162%;
	height: 162%;
}

.background-stripes {
	fill: transparent;
	stroke-width: 50%;
	stroke: rgba(90, 119, 168, 0.4);
	stroke-dasharray: 0 31.25 2.25 5 4 20 32 38 5 4 2.25 120 53 90 16 5 2 120 15 50 48 6 5 114 43 16 3 1000;
/*                                <--- Top right 105,75  |   | Bottom right  | Bottom left */
}